.container {
  display: flex;
  height: 100vh;
}

.left {
  flex: 1;
  overflow-y: auto;
}

.right {
  flex: 1;
  border-left: 1px solid #ccc;
  padding: 20px;
  box-sizing: border-box;
}

.user-list {
  padding: 20px;
}

.nav{
  background-color: rgb(57, 57, 252);
  color: #fff;
}

.user-info{
  align-items: first baseline;
}